.vscode/**
.vscode-test/**
src/**
tests/**
test/**
node_modules/**
tsconfig.json
webpack.config.js
tsconfig.node.json
vite.config.ts
package-lock.json
*.md
.gitignore
.prettierrc
.eslintrc
eslint.config.mjs
jest.config.js
webview/src/**
webview/node_modules/**
webview/public/**
webview/tsconfig.json
webview/tsconfig.node.json
webview/package.json
webview/vite.config.ts
webview/package-lock.json
**/*.map
.vscode-test.mjs
tsconfig.test.json