.container {
  max-width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--vscode-foreground);
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
}
